BEEP_WAV                         RCDATA  "beep.wav"
PHURP_WAV                        RCDATA  "phurp.wav"
STEREOPHONIC_WAV                 RCDATA  "stereophonic.wav"
SQUEAK_WAV                       RCDATA  "squeak.wav"

